<div class="author-footer">
  <div class="author-footer-container">
    <img src="/blog/img/avatar.jpg" alt="Артём Болотов" class="avatar" loading="lazy">
    <p class="greeting">Привет! Меня зовут Артём.</p>
    <p class="bio">Я iOS-разработчик. Специализируюсь на&nbsp;SwiftUI и&nbsp;облачных решениях.</p>
    <p class="projects">Автор <a href="https://screenlines.app" target="_blank">ScreenLines</a>, <a href="https://twinkey.app" target="_blank">TwinKey</a>, <a href="https://calendar.red" target="_blank">RedCalendar</a> и&nbsp;других приложений.</p>
    <p class="social"><a href="https://instagram.com/artembolotov" target="_blank">Instagram</a> · <a href="https://vk.com/artembolotov" target="_blank">VK</a> · <a href="https://twitter.com/artembolotov" target="_blank">X</a> · <a href="https://t.me/bolotovblog" target="_blank">Блог</a> · <a href="https://t.me/bolotov_logs" target="_blank">Заметки</a></p>
  </div>    
</div>