<div class="author-footer">
    <img src="/blog/img/avatar.jpg" alt="Артём Болотов" class="avatar">
    <p class="greeting">Привет! Меня зовут Артём.</p>
    <p class="bio">Я iOS-разработчик 📱 и SwiftUI энтузиаст 🚀</p>
    <p class="projects">Создатель <a href="https://twinkey.app" target="_blank">TwinKey</a>, <a href="https://calendar.red" target="_blank">RedCalendar</a> и других приложений.</p>
    <p class="social">Мои соцсети: <a href="https://t.me/artembolotov" target="_blank">Telegram</a>, <a href="https://vk.com/artembolotov" target="_blank">VK</a>, <a href="https://instagram.com/artembolotov" target="_blank">Instagram</a>, <a href="https://twitter.com/artembolotov" target="_blank">X</a> или <a href="https://t.me/bolotovblog" target="_blank">мой блог</a>.</p>
  </div>