<div class="author-footer">
  <div class="author-footer-container">
    <img src="/blog/img/avatar.jpg" alt="Артём Болотов" class="avatar" loading="lazy">
    <p class="greeting">Привет! Меня зовут Артём.</p>
    <p class="bio">Я iOS-разработчик. Специализируюсь на&nbsp;SwiftUI и&nbsp;облачных решениях.</p>
    <p class="projects">Автор <a href="https://screenlines.app" target="_blank" rel="noopener">ScreenLines</a>, <a href="https://twinkey.app" target="_blank" rel="noopener">TwinKey</a>, <a href="https://calendar.red" target="_blank" rel="noopener">RedCalendar</a>, <a href="https://gdeya.bolotov.dev" target="_blank" rel="noopener">ГдеЯ?</a> и&nbsp;<a href="https://appreach.ru" target="_blank" rel="noopener">appreach</a>.</p>
    <p class="social"><span data-gdeya-ru="" data-gdeya-intl="WwVFERNXVg8UDxARCRIIHx1fCRcRGAZAUV8YBAsIVgBARFdbBQsJFhVdRhAWEwUXHgRGDRBpBQgEFwoQDntYFBAEHhNTXQ4ZBlpFu9YS"></span><a href="https://vk.com/artembolotov" target="_blank" rel="noopener">VK</a> · <a href="https://twitter.com/artembolotov" target="_blank" rel="noopener">X</a> · <a href="https://t.me/bolotovblog" target="_blank" rel="noopener">Блог</a></p>
    <p class="privacy-link"><a href="/privacy/" target="_blank" rel="noopener">Политика конфиденциальности</a></p>
  </div>
</div>