{% comment %}
_includes/img.html  
Максимально простое решение
{% endcomment %}

{% assign url_parts = page.url | split: '/' %}
{% assign year = url_parts[2] %}
{% assign month = url_parts[3] %}  
{% assign day = url_parts[4] %}
{% assign title = url_parts[5] %}

{% assign post_name = year | append: '-' | append: month | append: '-' | append: day | append: '-' | append: title %}
{% assign image_path = '/blog/img/' | append: post_name | append: '/' | append: include.src %}

<img src="{{ image_path }}" alt="{{ include.alt | default: '' }}">
{% if include.caption %}<em class="image-caption">{{ include.caption }}</em>{% endif %}