<div class="tag-menu">
    <ul>
      <li{% if include.active_tag == 'all' %} class="active"{% endif %}>
        <a href="/blog/all/"{% if include.active_tag == 'all' %} aria-current="page"{% endif %}>Всё</a>
      </li>
      <li{% if include.active_tag == 'iosdev' %} class="active"{% endif %}>
        <a href="/blog/"{% if include.active_tag == 'iosdev' %} aria-current="page"{% endif %}>#iosdev</a>
      </li>
      <li{% if include.active_tag == 'webdev' %} class="active"{% endif %}>
        <a href="/blog/tag/webdev/"{% if include.active_tag == 'webdev' %} aria-current="page"{% endif %}>#webdev</a>
      </li>
      <li{% if include.active_tag == 'life' %} class="active"{% endif %}>
        <a href="/blog/tag/life/"{% if include.active_tag == 'life' %} aria-current="page"{% endif %}>#life</a>
      </li>
      <li{% if include.active_tag == 'мысли' %} class="active"{% endif %}>
        <a href="/blog/tag/thoughts/"{% if include.active_tag == 'мысли' %} aria-current="page"{% endif %}>#мысли</a>
      </li>
    </ul>
  </div>