---
layout: default
title: "Блог — Артём Болотов"
description: "Блог iOS-разработчика о разработке приложений, web, технологиях и жизни"
image: /blog/img/avatar.jpg
---

{% include tag-menu.html active_tag="all" %}

<div class="posts">
{% assign months = "января,февраля,марта,апреля,мая,июня,июля,августа,сентября,октября,ноября,декабря" | split: "," %}
{% for post in site.posts %}
{% unless post.draft %}
  <article>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2> 
    {% assign month_index = post.date | date: "%-m" | minus: 1 %}
    <time datetime="{{ post.date }}">{{ post.date | date: "%d" }} {{ months[month_index] }} {{ post.date | date: "%Y" }}</time>
    {% if post.description %}
    <p>{{ post.description }}</p>
    {% endif %}

    {% include reading-time.html content=post.content %}
  </article>
{% endunless %}
{% endfor %}
</div>