html { overflow-y:scroll; } 
main { margin-top: 80px; }
main img { width: 100%; height: auto; }
.container h1 { font-size: 30px; font-weight: 700; text-transform: uppercase; color: #000; }
.image-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .image-row img {
    width: 100%;
    height: auto;
  }