html { overflow-y:scroll; } 
main { margin-top: 80px; }
main img { width: 100%; height: auto; }
.container h1 { font-size: 30px; font-weight: 700; text-transform: uppercase; color: #000; }
.image-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  .image-row img {
    max-width: 100%; /* Изображения будут адаптироваться под контейнер */
    height: auto;    /* Сохраняем пропорции */
    flex: 1 1 calc(50% - 16px); /* Каждое изображение занимает половину строки с учетом отступов */
  }